.custom-select {
    position: relative;
    border: 1px solid #6B7280;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: #352E3E;
    border: 1px solid #6B7280;
    height: 58px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    align-items: center;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    border: solid #AEABB2;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    right: 1rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select-items div,
.select-selected {
    color: #AEABB2;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #352E3E;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    overflow-y: scroll;
    height: 200px;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}